:root {
  --inter-font: "Inter", sans-serif;
  --sora-font: "Sora", sans-serif;
  --primary-color: #00aeef;
  --secondary-color: #05060f;
  --text-color: #696a6f;
}

body {
  min-height: 700vh;
}
.navbar-default {
  transition: 500ms ease;
  background: transparent;
}

.navbar-default.scrolled .top_header {
  display: none;
}
.navbar-default.scrolled .sec-header {
  width: 100%;
  background: #000080;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar-default.scrolled .sec-header .nav-btn {
  background-color: #00aeef;
}
.navbar-default.scrolled .banner,
.banner-img {
  margin-top: 1180px;
}

.navbar-default.scrolled .banner_box {
  height: 762px;
}

.main-conatiner {
  background: linear-gradient(104.79deg, #051c81 0%, #430882 90%);
  
}
.nav-btn {
  backdrop-filter: blur(2px);

  background-color: #00aeef;
  color: #ffffff;
  padding: 8px 24px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.015em;
  border-radius: 4px;
}

.container a {
  font-weight: 700;
  font-size: 16px;
}

.navbar ul li a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  line-height: 22px;
  color: #ede8ff;
}
.middle {
}
.menu-ul {
  padding: 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.top_header {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}
.top-menu-content {
  display: flex;
  padding: 8px 0px;
}
.top-menu-content div {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-right: 30px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #f3f3f3;
}
.top-menu-content div span {
  margin-left: 12px;
}
.navbar {
  padding: 10.66px 0px;
}
.sec-header {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  height: 60px;
  top: 49.5px;
}
.banner_box {
  height: 662px;
  padding: 19px 0px 131px 0px;
  background: linear-gradient(104.79deg, #051c81 0%, #430882 100%);
}

.banner-img {
  margin-top: 79px;
  /* margin-bottom: 101px; */
}
.banner img {
  /* margin-top: 79px; */
  margin-bottom: 101px;

  width: 660px;
}
.banner_box h3 {
  font-family: var(--sora-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.025em;
  color: #ffffff;
  margin-bottom: 24px;
  margin-top: 50px;
}
.banner_box p {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #f0f0f1;
  margin-bottom: 0px;
  padding-bottom: 24px;
}
.our-services {
  padding: 74px 0px;
  /* margin-top: 74px; */
}
.service_nav{
  padding: 94px 115px;
}
.our-services h3 {
  font-family: var(--sora-font);
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 16px;
  margin-bottom: 0px;
}
.our-services p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--inter-font);
  color: #1e1f27;
  letter-spacing: -0.015em;
}
.services-card .card {
  padding: 26px 16px 16px 16px;
  height: 100%;
  width: 100%;
  border: 1px solid #f3f3f3;
  box-shadow: 2px 2px 15px rgba(188, 188, 188, 0.2);
  border-radius: 6px;
}
.services-card .card .first-service {
  margin-left: 0px !important;
}
.services-card .card .card-body {
  padding: 0px;
}
.first-service {
  background-color: #23c3ff;
}

.services-card-all {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 20px;
}

.services {

}
.services .card1 {
  padding: 16px;
  gap: 24px;
  width: 287.5px;
  height: 332px;
  border: 1px solid #f3f3f3;
  box-shadow: 2px 2px 15px rgba(188, 188, 188, 0.2);
  border-radius: 6px;
}
.services-card-all .services:hover {
  background-color: #23c3ff;
  color: white;
}
.services-card-all .services .card1:hover {
  color: white;
}

.services-card-all .services .card1 h3 {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-family: var(--sora-font);

  letter-spacing: 0.005em;
  margin-top: 34.94px;
  margin-bottom: 24px;
  padding-bottom: 0px;
}
.services-card-all .services .card1 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #696a6f;
  margin-top: 34.94px;
  margin-bottom: 24px;
  padding-bottom: 0px;
}

.about-us {
  background-color: #363c55;
}
.about-us img {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-us h3 {
  font-family: var(--sora-font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
  margin-top: 210px;

  color: #ffffff;
}
.about-us p {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #f0f0f1;
}

.meet-team {
  padding-bottom: 94px;
}
.meet-team .container h3 {
  font-family: var(--sora-font);
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 16px;
  margin-bottom: 0px;
  margin-top: 94px;
}
.meet-team .container p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--inter-font);
  color: #1e1f27;
  letter-spacing: -0.015em;
}
.team-meet-card h4 {
  font-family: var(--sora-font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 6px;
  letter-spacing: 0.005em;

  color: #05060f;
}
.team-meet-card p {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 22px !important;
  color: #696a6f !important;
  padding-bottom: 0px;
  margin-bottom: 0px !important;
}

.technologies {
  padding-bottom: 188px;
}
.technologies h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 6px;
  letter-spacing: 0.005em;
  color: #05060f;
}
.technologies p {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  margin-top: 16px;
  margin-bottom: 40px;
  letter-spacing: -0.015em;

  /* Base/120 */

  color: #1e1f27;
}
.technologies .top-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.technologies .top-images img {
  width: 168px;
  height: 168px;
}
/* .img {
  margin-left: 10px;
} */

.team_card {
  border: 1px solid #f3f3f3;
  border-radius: 6px;
}
.down-images {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.img-down {
  box-shadow: 2px 2px 15px rgba(188, 188, 188, 0.2);
  width: 168px;
  height: 168px;
}

.people-say-container {
}
.people-say-container .container h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 0px;
  letter-spacing: 0.005em;
  color: #05060f;
}
.people-say-container .container .container-p {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1e1f27 !important;
  padding-bottom: 0px;
  margin-bottom: 40px !important;
  margin-top: 12px;
}

.people-say-card {
  display: flex;
  gap: 40px;
}
.people-say-card .mini-container {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccd9f5;
  background: #ffffff;
  gap: 10px;

  width: 376.67px;
  height: 390px;
}
.people-say-card .mini-container #p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #696a6f;
  height: 190px;
  width: 336.67px;
  margin-top: 10px;
}
.small-card {
  display: flex;
}

.information {
  margin-left: 10px !important;
  width: 266.67px;
  height: 46px;
}
.information .span1 {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #696a6f;
  font-variation-settings: "slnt" 0;
}
.information .span2 {
  margin-bottom: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #696a6f;
}
.small-card img {
  width: 60px;
  height: 60px;
}


.tabs {
  display: flex;

  margin-bottom: 40px;
}
.tabs li {
  width: 270.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabs li a {
  /* text-decoration: none !important; */
  border: none !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #acacaf;
}
.nav-tabs .nav-link:hover {
  color: #23c3ff;
}
.nav-tabs .nav-link.active {
  /* border-color: #dee2e6 #dee2e6 #23C3FF #fff !important; */
  border-bottom: 1px solid #23c3ff !important;
  width: 300px;
  text-align: center;
  color: #23c3ff !important;
}
.nav-tabs {
  border: none;
}
.nav-tabs .nav-item {
  border-bottom: 1px solid #dee2e6 !important;
}

.count-textarea {
  position: absolute;
  right: 10px;
  top: 340px;
}
textarea {
  resize: none;
}
/* tech */

.technologies .heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  font-family: var(--sora-font);
}
.people-say-container h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  font-family: var(--sora-font);
  color: #05060f;
}


.card1:hover h3{
color: #fff !important;
  
}
.card1:hover p{
color: #fff !important;
  
}


#svg{
  fill: #05060f !important;

}

.card1:hover #svg{
fill: white !important;
transition: ease-in 0.2s all;
}