
.footer-main-container {
    height: 458px;
    flex-direction: column;
    align-items: flex-start;
    padding: 94px 115px;
    background-color: #333333;
    color: #ffffff;
  }
  
  .footer-main {
    background: #333333;
    color: white;
  }
  
  .container .foot-container {
    display: flex;
    gap: 40px;
  }
  .container .foot-container .footer-card {
    width: 272.5px;
    height: 130px;
    /* border: 1px solid black; */
    padding: 0px;
    gap: 10px;
    width: 272.5px;
    height: 108px;
  }
  .container .foot-container .footer-card h6 {
    font-family: var(--inter-font);
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
    align-self: stretch;
    color: #ffffff;
  }
  .container .foot-container .footer-card p {
    font-family: var(--inter-font);
  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    align-self: stretch;
    color: #f0f0f1;
  }
  .container .foot-container .footer-card input {
    background: #ffffff;
    border: 2px solid #ebebec;
    border-radius: 6px 0px 0px 6px;
    padding: 8px 16px;
    width: 200.5px;
    height: 40px;
    border-right: none;
  }
  .container .foot-container .footer-card button {
    background: #00aeef;
    padding: 8px 16px;
    line-height: 24px;
    color: #ffffff;
    font-variation-settings: "slnt" 0;
    border-left: none;
    position: relative;
    bottom: 1px;
  }
  .container .foot-container .footer-card .footer-search {
    display: flex;
  }
  
  .footer-main-container hr {
    margin-top: 115px;
  }
  

  .footer-card p a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #f0f0f1;
  }

  .footer-lower-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 40px !important;
  }
  .footer-lower-container p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #f3f3f3;
  }
  
  .container .foot-container .footer-card .footer-search input {
    width: 208.5px;
    height: 40px;
  }
  
  .container .foot-container .footer-card button {
    background: #00aeef;
    border-radius: 0px 6px 6px 0px;
    padding: 8px 16px;
    line-height: 24px;
    color: #ffffff;
    font-variation-settings: "slnt" 0;
  
    border-left: none;
    position: relative;
    bottom: 2px;
  }
  
  .container .foot-container .footer-card input {
    background: #ffffff;
    border: 2px solid #ebebec;
    border-radius: 6px 0px 0px 6px;
    padding: 8px 16px;
    width: 200.5px;
    height: 40px;
    border-right: none;
  }
  .container .foot-container .footer-card button {
    background: #00aeef;
    padding: 8px 16px;
    line-height: 24px;
    color: #ffffff;
    font-variation-settings: "slnt" 0;
    border-left: none;
    position: relative;
    bottom: 1px;
  }
  .container .foot-container .footer-card .footer-search {
    display: flex;
  }
  
  .footer_btn {
    border: none !important;
    background: #00aeef !important;
    border-radius: 0px 6px 6px 0px !important;
    /* padding: 12px !important; */
    width: 64px !important;
    height: 40px !important;
    margin-top: 1px;
  }
  
  .footer_inp {
    width: 208.5px !important;
    height: 40px !important;
    background: #ffffff;
    border: 2px solid #ebebec;
    border-radius: 6px 0px 0px 6px;
  }



/* Get In Touch CSS */
.get-in-touch{
  padding: 24px 115px;
}

  .get-in-touch-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 50px;
    box-shadow: 2px 2px 15px rgba(188, 188, 188, 0.2);
    border-radius: 6px;
    
  }
  
  .main-container h4{
    font-family: var(--sora-font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #05060f;
  }
 
  .img-container{ 
  
  gap: 24;
  width: 543px;
height: 372px;
  }
  .img-container img{
    width: 390.8px;
    height: 372px;
    margin-left: 30px;

  }
  

  
 
  
  .right-inputes {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
    top: 0;
    
  }
  .right-inputes input {
    margin-bottom: 24px;  
    width: 543px;
    height: 52px;
  
    background: #f3f3f3;
    border: 2px solid #ebebec;
    border-radius: 6px;
  }
  .right-inputes .large-input {
    width: 543px;
    background: #f3f3f3;
    border: 2px solid #ebebec;
    border-radius: 6px;
  }
  .btn-div {
    text-align: right;
    margin-top: 40px;
  }
  .right-inputes button {
    width: 103px;
    border-radius: 4px;
    padding: 12px 24px;
    margin-bottom: 50px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  .get-in-touch .top-menu-content {
    background-color: white;
    margin-bottom: 20px;
  }
  .get-in-touch .top-menu-content span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
    color: #696a6f;
  }
  .right-inputes .large-input {
    width: 543px;
    height: 144px;
  
    background: #f3f3f3;
    border: 2px solid #ebebec;
    border-radius: 6px;
  }
  
  
  
  .form_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #00aeef !important;
    border-radius: 4px !important;
    padding: 12px 24px;
    width: 103px;
    height: 40px;
  }
  
  .btn-div {
    display: flex;
    justify-content: right;
  }
  

  .message_form{
    /* border: 2px solid; */
    text-align: left;
  
 
  }